body {
    width:100%;
}

.courses {
    width: 100%;
    text-align: center;
    justify-content: center;
}

table {
    margin-top:30px;
    border-collapse: collapse;
    border: 1px solid black;
}

.tr {
    height: 40px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}
