body {
    width: 100%;
    display:grid;
}

.courses {
    width: 100%;
    text-align: center;
    justify-content: center;
}

table {
    margin-top:30px;
    border-collapse: collapse;
    border: 1px solid black;
}

.tr {
    height: 40px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}

.newsect {
    width: fit-content;
    background-color: white;
    padding: 15px 30px 15px 30px;
    border: 2px solid darkgray;
    cursor: pointer;
    margin-top: 100px;
    border-radius: 4px;
}