
:root {
    --menu-bg: gray;
    --menu-font-color: #FFFFFF;
    --menu-border: black;
    --menu-bg-selected: #333333;
    --menu-bg-hover: #52dcff;
    --menu-bg-selected-chevron: #3cac1a;
}

.year {
    font: bold 20px 'Consolas';
    border: 2px solid darkgray;
    display: inline-grid;
    width: fit-content;
    padding: 10px 10px 10px 10px;
}

.term {
    font: bold 16px 'Consolas';
    border: 1px solid black;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 5px 15px 5px 15px;
}

.coursebtn {
    min-width: 80px;
    display: inline-block;
    font: bold 14px 'Consolas';
    border: 2px solid darkgray;
    color: black;
    background-color: #cfcfcf;
    width: min-content;
    padding: 2px 2px 2px 2px;
    margin: 10px;
}

    .coursebtn:hover {
        background-color: #bfbfbf;
        cursor: pointer;
    }

.fresh, .soph, .juni, .seni {
    display: none;
}

    .fresh.active {
        display: inline-grid;
    }

    .soph.active {
        display: inline-grid;
    }

    .juni.active {
        display: inline-grid;
    }

    .seni.active {
        display: inline-grid;
    }

.schedule {
    display: inline-flex;
    width: stretch;
    justify-content: center;
    height: stretch;
}

.cyclefresh.active {
    background-color: darkgray;
}

.cyclesoph.active {
    background-color: darkgray;
}

.cyclejuni.active {
    background-color: darkgray;
}

.cycleseni.active {
    background-color: darkgray;
}


.yearbtn {
    text-align: center;
    display: grid;
    width: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: max-content;
}

    .yearbtn .cycle {
        padding: 10px 10px 10px 10px;
        border: none;
        cursor: pointer;
        font: normal 20px 'Consolas';
    }

        .yearbtn .cycle:hover {
            background-color: darkgray;
        }

.padding {
    width: 25px;
}
