@using MySql.Data.MySqlClient

@model CourseSection
@functions {
    public List<string?[]> GetAreas()
    {
        List<string?[]> retList = new();
        using (MySqlConnection con = new("server=localhost,3306;database=advising;user=root;password=password;"))
        {
            using MySqlCommand cmd = new("SELECT * FROM studyarea");
            cmd.Connection = con;
            con.Open();
            using (MySqlDataReader sdr = cmd.ExecuteReader())
            {
                while (sdr.Read())
                {
                    retList.Add(new string?[] { sdr["studyarea"].ToString(), sdr["longname"].ToString() });
                }
            }
            con.Close();
        }
        return retList;
    }
}
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<form asp-action="AddCourseSection" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Area</label>
        <select asp-for="area" class="form-control ar" onchange="checkPrefix()">
            @foreach (var prop in GetAreas())
            {
                <option value=@prop[0]>@prop[1]</option>
            }
        </select>
        <span asp-validation-for="area" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Course ID</label>
        <input asp-for="courseid" class="form-control cor" onkeyup="checkPrefix()" />
        <span asp-validation-for="courseid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Start Time</label>
        <input asp-for="time" class="form-control time" />
        <span asp-validation-for="time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Number of Periods</label>
        <input asp-for="periodlength" class="form-control len" />
        <span asp-validation-for="periodlength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Building</label>
        <input asp-for="building" class="form-control build" />
        <span asp-validation-for="building" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Room #</label>
        <input asp-for="room" class="form-control room" />
        <span asp-validation-for="room" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn bg-primary" onclick="submitForm()" />
    </div>
</form>
<script>
    function submitForm() {
        var form = [];
        form["area"] = (document.querySelector(".ar").value);
        form["courseid"] = (document.querySelector(".cor").value);
        form["time"] = (document.querySelector(".time").value);
        form["periodlength"] = (document.querySelector(".len").value);
        form["building"] = (document.querySelector(".build").value);
        form["room"] = (document.querySelector(".room").value);
    }
    function checkPrefix() {
        var textInput = document.querySelector(".cor");
        var areaSelect = document.querySelector(".ar");
        var prefix = areaSelect[areaSelect.selectedIndex].value;
        for (let i = 0; i < prefix.length; i++) {
            if (textInput.value[i] !== prefix.charAt(i)) {
                textInput.value = prefix;
            }
        }
    }
    checkPrefix();
</script>