<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="undervsgrad">
    <button onclick="location.href = '/Home/AddCourse'">Add Course</button>
    <div class="gradspacer"></div>
    <button onclick="location.href = '/Home/AddSection'">Add Course Section</button>
    <div class="gradspacer"></div>
    <button onclick="location.href = '/Home/AddTrackingSheet'">Add BS/MS Tracking Sheet</button>
    <div class="gradspacer"></div>
    <button onclick="location.href = '/Home/AddGraduateSheet'">Add Graduate Tracking Sheet</button>
</div>