@using CSharpWebApp.Models
@using SpecFlow.Internal.Json
@using MySql.Data.MySqlClient

@model GraduateRequest

@{
    ViewData["Title"] = "Information";
}
@functions {
    public static Dictionary<string, string> GetGraduateOptions()
    {
        Dictionary<string, string> retList = new();
        using (MySqlConnection con = new("server=localhost,3306;database=advising;user=root;password=password;"))
        {
            using MySqlCommand cmd = new("SELECT * FROM graddegrees");
            cmd.Connection = con;
            con.Open();
            using (MySqlDataReader sdr = cmd.ExecuteReader())
            {
                while (sdr.Read())
                {
                    retList.Add(sdr["AREA"].ToString(), sdr["DEGREES"].ToString());
                }
            }
            con.Close();
        }
        return retList;
    }
}

<head>
    <link rel="stylesheet" href="~/css/undergrad.css" asp-append-version="true" />
    <link rel="icon" href="./favicon.ico" />
    <script type="text/javascript" src="~/js/utils.js"></script>
</head>
<body>
    <form asp-action="GetGraduateSchedule" class="form-horizontal" onchange="checkValues()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="scheduling">
                <strong>Area of Study</strong><br />
                <select id="aos" onchange="showDegree()">
                    @foreach (KeyValuePair<string, string> pair in GetGraduateOptions())
                    {
                        <option class="option" value=@pair.Key></option>
                    }
                </select>
                <label><b>Degree Options</b></label>
                @foreach (KeyValuePair<string, string> pair in GetGraduateOptions())
                {
                    <div class="sect" id=@pair.Key>
                        <select asp-for="TYPE">
                            @foreach (string str in pair.Value.Split("], ["))
                            {
                                List<string> vals = new();
                                string[] obj = str.Split(',');
                                foreach (string val in obj)
                                {
                                    vals.Add(val.Replace("[", "").Replace("]", "").Replace("\"", ""));
                                }
                                <option value=@vals[0]>@vals[1]</option>
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</body>
<script>
    document.querySelector("#aos").querySelectorAll(".option").forEach(t => {
        t.innerHTML = aosMap[t.value];
    });
    function showDegree() {
        document.querySelectorAll(".sect").forEach(t => {
            t.hidden = "true";
            if (t.id === document.getElementById("aos").value) {
                t.hidden = false;
            }
        });
    }
    showDegree();
</script>